
/* index.css or global.css */
body, html {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
  }
/* App.css */
.btn-primary {
    background-color: #82c639;
    border-color: #82c639;
  }
  
  .btn-primary:hover {
    background-color: #6aae2d;
    border-color: #6aae2d;
  }
  
  .text-brand {
    color: #82c639;
  }
  
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: white;
    font-size: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .whatsapp-float:hover {
    background-color: #1ebe5d;
    transform: scale(1.1);
  }
  
  .whatsapp-float i {
    vertical-align: middle;
  }
  